
.temporizador{
    
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

.temporizador {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#countdown {
    font-size: 36px;
    font-weight: bold;
    color: #e63946;
    background-color: #f1faee;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
}

.finalizado {
    color: #ff006e;
    font-size: 28px;
    font-weight: bold;
}